<%- include('./layouts/header') %>

    <h1 class="table">Manage Users</h1>

    <table class="table">
        <thead>
            <th>Pin Code</th>
            <th>Name Of Post Office</th>
            <th>Role</th>
        </thead>
        <tbody>
            <% users.forEach(user=> { %>
                <tr>
                    <td>
                        <%= user.pincode %>
                    </td>
                    <td class="poname">
                        <a href="/admin/user/<%= user.id %>">
                            <%= user.name %>
                        </a>
                    </td>
                    <td>
                        <form action="/admin/update-role" method="post" class="manage-user-form">
                            <input type="hidden" name="id" value="<%= user.id %>">
                            <input type="hidden" name="email" value="<%= user.email %>">
                            <select name="role" id="role">
                                <option value="ADMIN" <%=user.role==='ADMIN' ? 'selected' : '' %>>Admin</option>
                                <option value="CLIENT" <%=user.role==='CLIENT' ? 'selected' : '' %>>Client</option>
                            </select>
                            <input type="submit" value="update">
                        </form>
                    </td>
                    <td>
                        <!-- <button class="send-warning" data-email="<%= user.email %>" data-name="<%= user.name %>">Send
                            Warning</button> -->
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <!-- <script src="https://smtpjs.com/v3/smtp.js"></script>


    <script>
        function sendEmail(name, email) {

            let Usermainbody = `Dear ${name}, <br/><br/><br/> We have noticed that the protocols of Swaach Bharat Aviyan is not maintained in ${name}. Kindly maintain the protocols properly. Always keep clean the post office. Either strict actions will be taken. <br/><br/><br/> Best Regards, <br/> Department of Post`;

            Email.send({
                Host: "smtp.elasticemail.com",
                Username: "it2022124@rcciit.org.in",
                Password: "ED397B318F79CFA8FDC17D502994EE605434",
                To: email,
                From: "it2022124@rcciit.org.in",
                Subject: "Regarding Clealiness of The Post Office",
                Body: Usermainbody
            }).then(
                message => alert("Your Message Has Been Sent Successfully")
            );
        }

        // Add event listeners to all "Send Warning" buttons
        document.querySelectorAll('.send-warning').forEach(button => {
            button.addEventListener('click', function () {
                // Retrieve data attributes
                const name = this.dataset.name;
                const email = this.dataset.email;

                // Call the sendEmail function
                sendEmail(name, email);
            });
        });
    </script> -->
    </body>

    </html>