<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('./layouts/navbar') %>
        <%- include('./layouts/flash-message') %>

            <main>


                <h1><span class="goback" onclick="window.history.back()"> ← </span> Profile </h1>

                <div class="profile">
                    <div>
                        <p class="title">Name OF Post Office</p>
                        <p class="subtitle">
                            <%= person.name %>
                        </p>
                    </div>

                    <div>
                        <p class="title">Email / Username</p>
                        <p class="subtitle">
                            <%= person.email %>
                        </p>
                    </div>

                    <div>
                        <p class="title">Role</p>
                        <p class="subtitle">
                            <%= person.role %>
                        </p>
                    </div>

                    <div>
                        <p class="title">Address</p>
                        <pre class="subtitle"><%= person.address %></pre>
                    </div>

                    <div>
                        <p class="title">Pin Code</p>
                        <p class="subtitle">
                            <%= person.pincode %>
                        </p>
                    </div>

                    <div>
                        <p class="title">City/Village</p>
                        <p class="subtitle">
                            <%= person.city %>
                        </p>
                    </div>

                    <div>
                        <p class="title">State</p>
                        <p class="subtitle">
                            <%= person.state %>
                        </p>
                    </div>




                </div>

                <div class="camera-buttons">
                    <button id="startButton">Start Camera</button>
                    <button id="stopButton">Stop Camera</button>
                    <% if (user) { %>
                        <% if (user.role==='ADMIN' ) { %>
                            <button id="warnButton" onclick="sendEmail()">Send Warning</button>
                            <% } %>

                                <% } %>

                </div>

            </main>

            <script src="https://smtpjs.com/v3/smtp.js"></script>

            <script>

                document.getElementById('startButton').addEventListener('click', () => {
                    fetch('/start-python')
                        .then(response => response.text())
                        .then(data => alert(data))
                        .catch(error => alert('Error: ' + error));
                });

                document.getElementById('stopButton').addEventListener('click', () => {
                    fetch('/stop-python')
                        .then(response => response.text())
                        .then(data => alert(data))
                        .catch(error => alert('Error: ' + error));
                });


                const personName = "<%= person.name %>";
                const personEmail = "<%= person.email %>";


                const sendEmail = () => {
                    let name = personName
                    let email = personEmail
                    let Usermainbody = ` Dear ${name}, <br/><br/><br/> Thank you for reaching out to Techno Engineering. We've received your message and are currently reviewing it. We'll get back to you shortly with the information you requested. If you have any further questions or concerns, feel free to contact us directly by the contact information provided in the website. We appreciate your patience and look forward to assisting you soon. <br/><br/><br/> Best Regards, <br/> Techno Engineering `

                    // console.log(mainbody)
                    Email.send({
                        Host: "smtp.elasticemail.com",
                        Username: "it2022124@rcciit.org.in",
                        Password: "ED397B318F79CFA8FDC17D502994EE605434",
                        To: email,
                        From: "it2022124@rcciit.org.in",
                        Subject: "Regarding Clealiness of The Post Office",
                        Body: Usermainbody
                    }).then(
                        message => alert("Your Message Has Been Sent Successfully")
                    );




                }



            </script>
</body>

</html>
